# Xcode
.DS_Store
build/
DerivedData/

## Project files
*.xcodeproj
*.xcworkspace

# User-specific files
*.xcuserdatad
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/

# Vim swap files
*.swp
*.swo

# Visual Studio / Windows
.vs/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.db
*.opendb
windows/build-x64/
build-x64/
windows/vendor/**/*.exe

